@import 'global';

.partial-image-contextmenu {
    @extend %g__shadow;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 12px;
    border-radius: 3px;
    width: 120px;
    
    &__li {
        height: 24px;
        line-height: 24px;
    }

    &__cmd {
        cursor: pointer;
        color: #262727;
        text-decoration: underline;
    }
}