@import 'global';

.workspace {
    position: relative;
    width: 100%;

    &__main-image {
        display: block;
        margin: auto;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    &__partial-image {
        border: 2px dotted #fbfbfb;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
        cursor: move;
        left: 0;
        position: absolute;
        top: 0;

        &.is-dragged {
            opacity: 0.5;
        }
    }

    &__controls {
        margin: auto;
        position: relative;
        width: 540px;
    }

    &__buttons {
        height: 24px;
        margin-bottom: 12px;
    }

    &__button-li {
        float: left;
        height: 24px;
        margin-right: 12px;
    }

    &__button {
        border-radius: 3px;
        display: inline-block;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none;
        

        &.is-active {
            background: linear-gradient(#afc4bd 0%, #222625 100%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
            color: #222625;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
        }

        &.is-disabled {
            background-color: #d4d9d7;
            color: #b9bdbb;
            cursor: default;
        }

    }

    &__button:hover {
        &.is-active {
            opacity: 0.7;
        }
    }

    &__size-setting-title {
        float: left;
        height: 18px;
        line-height: 18px;
        width: 180px;
    }

    &__size-setting-content-li {
        float: left;
        height: 18px;
        line-height: 18px;
    }

    &__explanation {
        margin: auto;
        margin-top: 12px;
        width: 768px;
    }

    &__explanation-text {
        background-color: #fff;
        list-style: disc;
        padding: 6px;
    }

    &__explanation-text-li {
        font-size: 12px;
        margin-bottom: 6px;
        margin-left: 12px;
    }

    &__explanation-image-area {
        @extend %g__shadow;
        margin-bottom: 12px;
        width: 480px;
    }
}
